body {
    font-family: Arial, sans-serif;
    background: #dcdcdd;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

pre {
    width: max-content;
    margin: 20px auto !important;
    border-radius: 10px;
    overflow-x: auto;
    display: flex !important;
    background: #2d2d2d;
}

code {
    font-family: monospace;
    text-align: left;
    padding: 20px;
    display: block;
    margin: 0 auto;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    color: #fcf7f8;
}

.types {
    font-size: 24px;
    display: flex;
    padding: 6px 8px !important;
    gap: 20px;
    color: rgb(108, 110, 110);
    margin-top: 10px;
}

.rules {
    max-width: 750px;
    background: #ffffff;
    border-radius: 12px;
    padding: 25px 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    font-size: 16px;
    line-height: 1.7;
    color: #2c3e50;
    border-left: 6px solid #4b79a1;
    background-image: linear-gradient(to right, #f8f9fa, #e8f0fe);
}

.rules h3 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #34495e;
    text-align: left;
}

.rules ul {
    list-style: none;
    padding-left: 0;
}

.rules li {
    margin-bottom: 15px;
    padding-left: 30px;
    position: relative;
}

.rules li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #4b79a1;
    font-size: 20px;
    line-height: 1;
}

.label {
    display: inline-block;
    padding: 2px 8px;
    font-size: 13px;
    border-radius: 4px;
    font-weight: bold;
    margin-right: 6px;
    color: #fff;
}

.label.let {
    background-color: #27ae60;
}

.label.var {
    background-color: #f39c12;
}

.label.const {
    background-color: #c0392b;
}

h2,
h3 {
    color: #333;
}
