body {
    font-family: Arial, sans-serif;
    background: #dcdcdd;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

pre {
    width: max-content;
    margin: 20px auto !important;
    border-radius: 10px;
    overflow-x: auto;
    display: flex !important;
    background: #2d2d2d;
}

code {
    font-family: monospace;
    text-align: left;
    padding: 20px;
    display: block;
    margin: 0 auto;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    color: #fcf7f8;
}

.types {
    font-size: 24px;
    display: flex;
    padding: 6px 8px !important;
    gap: 20px;
    color: rgb(108, 110, 110);
    margin-top: 10px;
}


h2,
h3 {
    color: #333;
}


.data-types {
    max-width: max-content;
    margin: 10px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
    border-left: 6px solid #007acc;
    background-image: linear-gradient(to right, #f3f4f6, #e6f0fb);
    color: #1e1e1e;
    /* darker text */
}

.data-types h3 {
    font-size: 22px;
    color: #1f2937;
    /* dark gray-blue */
    margin-bottom: 15px;
}

.data-types table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 15px;
    color: #111827;
    /* very dark slate */
}

.data-types thead {
    background-color: #007acc;
    color: white;
}



.data-types th,
.data-types td {
    padding: 12px 15px;
    border-bottom: 1px solid #ccc;
}

.data-types thead tr:hover {
    background-color: #007acc !important;
    /* Prevent hover effect on thead */
}

.data-types tr:hover {
    background-color: #f1f1f1;
}

.data-types code {
    background-color: #e0e0e0;
    padding: 2px 6px;
    border-radius: 4px;
    color: #111;
    /* strong dark */
}